@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital@0;1&family=DM+Serif+Display&display=swap');

/* -------- GARDEN RESPONSIVENESS ----------- */

#root {
  max-width: 465px;
  width: 96%;
}

.modal {
  position: fixed;
  left: 50%;
  top: 50%;
  padding: 2em;
  transform: translate(-50%, -50%);
  background-color: #ddd8c4;
  border: 2px solid black;
  border-radius: 1em;
  box-shadow: 2px 2px 0 black;
  backdrop-filter: blur(5px);
}

.modal button {
  width: fit-content;
  margin-top: 2em;
}

.row {
  display: flex;
  flex: row nowrap;
  justify-content: space-evenly;
  gap: 10px;
}

form {
  padding: 1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'DM Serif Display', serif;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 2.5rem;
  margin: 0.5rem;
}

body,
p {
  font-family: 'Albert Sans', sans-serif;
}

input[type='password'] {
  font-size: 1.5rem;
  padding: 0.5rem 0.675rem;
  letter-spacing: 0.15rem;
}
