.see {
  position: absolute;
  height: 80vh;
  width: 91vw;
  top: 1.5rem;
  left: 1rem;
  background-color: #50808e;
  border-radius: 1rem;
  z-index: 100;
  box-sizing: border-box;
  border: 2px solid black;
  box-shadow: 2px 2px 0 black;
  max-width: 460px;
}

.bar {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  background-color: #69a297;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
}

.padding {
  padding: 1rem;
  min-height: 50vh;
}

.see h5 {
  font-size: 1.5rem;
  margin: 1rem;
  text-align: left;
}

.close {
  background-color: #84b59f;
  width: fit-content;
  padding: 0.25rem 0.5rem;
  margin: 0.5rem;
}

.date {
  margin: 1rem;
  font-size: 75%;
  flex-basis: 80%;
}
