.auth {
    display: grid;
    grid-template-columns: 2;
    grid-template-rows: 12;
    gap: .5rem;
    margin: 3rem auto;
}

h2 {
    grid-column-start: 1;
    grid-column-end: 3;
}

.email-label {
    grid-column-start: 1;
    grid-row-start: 2;
}

#email {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
}

.password-label {
    grid-column-start: 1;
    grid-row-start: 4;
}

#password {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 5;
}

input {
    border: 2px solid black;
    background-color: #ddd8c4;
    padding: .5rem 1rem;
    border-radius: 1rem;
    box-shadow: 2px 2px 0 #a3c9a8, 4px 6px 0 #000;
    outline: 0;
    margin-bottom: .5rem;
    max-width: 300px;
}

button:hover,
button:active {
    background-color: #69a297;

}

button {
    background: #50808e;
    border: 2px solid black;
    padding: .5rem 1rem;
    border-radius: 1rem;
    box-shadow: 2px 2px 0 #a3c9a8, 4px 6px 0 #000;
    grid-column-start: 1;
    grid-row-start: 6;
    margin-top: .5rem;
}