@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital@0;1&family=DM+Serif+Display&display=swap');

/* -------- GARDEN RESPONSIVENESS ----------- */
html {
  box-sizing: border-box;
  font-size: 50%;
}

@media (min-width: 48em) {
  html {
    font-size: 56.25%;
  }
}

@media (min-width: 64em) {
  html {
    font-size: 62.5%;
  }
}

/* ------------------------------------------- */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'DM Serif Display', serif;

}

body,
p {
  font-family: 'Albert Sans', sans-serif;
}