@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital@0;1&family=DM+Serif+Display&display=swap');

/* -------- GARDEN RESPONSIVENESS ----------- */
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 50%;

}

#root {
  max-width: 375px;
}

.modal {
  position: fixed;
  width: 90vw;
  height: 52vh;
  top: 24vh;
  background-color: #ddd8c4;
  left: 5vw;
  border: 2px solid black;
  border-radius: 1rem;
}

.row {
  display: flex;
  flex: row nowrap;
  justify-content: space-evenly;
}

button {}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'DM Serif Display', serif;

}

body,
p {
  font-family: 'Albert Sans', sans-serif;
}

input {
  font: inherit;
  font-size: 1.5rem;
  padding: 0.5em;
}

input[type="password"] {
  font-size: 1.75rem;
  letter-spacing: 0.15rem;
}