.corn-growing-1 {
            background-image: url('https://our-farm-game.s3.us-west-1.amazonaws.com/Objects/fplants.png');
            background-repeat: no-repeat;
            background-position: 0px 0px;
            width: 80px;
            height: 160px;
}
        
.corn-growing-2 {
            background-image: url('https://our-farm-game.s3.us-west-1.amazonaws.com/Objects/fplants.png');
            background-repeat: no-repeat;
            background-position: 0px 0px;
            width: 80px;
            height: 160px;
}
.corn-growing-3 {
            background-image: url('https://our-farm-game.s3.us-west-1.amazonaws.com/Objects/fplants.png');
            background-repeat: no-repeat;
            background-position: 0px 0px;
            width: 80px;
            height: 160px;
}
        
.corn-growing-4 {
            background-image: url('https://our-farm-game.s3.us-west-1.amazonaws.com/Objects/fplants.png');
            background-repeat: no-repeat;
            background-position: 0px 0px;
            width: 80px;
            height: 160px;
}
.carrot-growing-1 {
            background-image: url('https://our-farm-game.s3.us-west-1.amazonaws.com/Objects/fplants.png');
            background-repeat: no-repeat;
            background-position: 0px 0px;
            width: 80px;
            height: 160px;
}
        
.carrot-growing-2 {
            background-image: url('https://our-farm-game.s3.us-west-1.amazonaws.com/Objects/fplants.png');
            background-repeat: no-repeat;
            background-position: 0px 0px;
            width: 80px;
            height: 160px;
}
.carrot-growing-3 {
            background-image: url('https://our-farm-game.s3.us-west-1.amazonaws.com/Objects/fplants.png');
            background-repeat: no-repeat;
            background-position: 0px 0px;
            width: 80px;
            height: 160px;
}
        
.carrot-growing-4 {
            background-image: url('https://our-farm-game.s3.us-west-1.amazonaws.com/Objects/fplants.png');
            background-repeat: no-repeat;
            background-position: 0px 0px;
            width: 80px;
            height: 160px;
}


.cauliflower-growing-1 {
            background-image: url('https://our-farm-game.s3.us-west-1.amazonaws.com/Objects/fplants.png');
            background-repeat: no-repeat;
            background-position: 0px 0px;
            width: 80px;
            height: 160px;
}
        
.cauliflower-growing-2 {
            background-image: url('https://our-farm-game.s3.us-west-1.amazonaws.com/Objects/fplants.png');
            background-repeat: no-repeat;
            background-position: 0px 0px;
            width: 80px;
            height: 160px;
}
.cauliflower-growing-3 {
            background-image: url('https://our-farm-game.s3.us-west-1.amazonaws.com/Objects/fplants.png');
            background-repeat: no-repeat;
            background-position: 0px 0px;
            width: 80px;
            height: 160px;
}
        
.cauliflower-growing-4 {
            background-image: url('https://our-farm-game.s3.us-west-1.amazonaws.com/Objects/fplants.png');
            background-repeat: no-repeat;
            background-position: 0px 0px;
            width: 80px;
            height: 160px;
}
.plum-growing-1 {
            background-image: url('https://our-farm-game.s3.us-west-1.amazonaws.com/Objects/fplants.png');
            background-repeat: no-repeat;
            background-position: 0px 0px;
            width: 80px;
            height: 160px;
}
        
.plum-growing-2 {
            background-image: url('https://our-farm-game.s3.us-west-1.amazonaws.com/Objects/fplants.png');
            background-repeat: no-repeat;
            background-position: 0px 0px;
            width: 80px;
            height: 160px;
}
.plum-growing-3 {
            background-image: url('https://our-farm-game.s3.us-west-1.amazonaws.com/Objects/fplants.png');
            background-repeat: no-repeat;
            background-position: 0px 0px;
            width: 80px;
            height: 160px;
}
        
.plum-growing-4 {
            background-image: url('https://our-farm-game.s3.us-west-1.amazonaws.com/Objects/fplants.png');
            background-repeat: no-repeat;
            background-position: 0px 0px;
            width: 80px;
            height: 160px;
}

.eggplant-growing-1 {
            background-image: url('https://our-farm-game.s3.us-west-1.amazonaws.com/Objects/fplants.png');
            background-repeat: no-repeat;
            background-position: 0px 0px;
            width: 80px;
            height: 160px;
}
        
.eggplant-growing-2 {
            background-image: url('https://our-farm-game.s3.us-west-1.amazonaws.com/Objects/fplants.png');
            background-repeat: no-repeat;
            background-position: 0px 0px;
            width: 80px;
            height: 160px;
}
.eggplant-growing-3 {
            background-image: url('https://our-farm-game.s3.us-west-1.amazonaws.com/Objects/fplants.png');
            background-repeat: no-repeat;
            background-position: 0px 0px;
            width: 80px;
            height: 160px;
}
        
.eggplant-growing-4 {
            background-image: url('https://our-farm-game.s3.us-west-1.amazonaws.com/Objects/fplants.png');
            background-repeat: no-repeat;
            background-position: 0px 0px;
            width: 80px;
            height: 160px;
}
.tulip-growing-1 {
            background-image: url('https://our-farm-game.s3.us-west-1.amazonaws.com/Objects/fplants.png');
            background-repeat: no-repeat;
            background-position: 0px 0px;
            width: 80px;
            height: 160px;
}
        
.tulip-growing-2 {
            background-image: url('https://our-farm-game.s3.us-west-1.amazonaws.com/Objects/fplants.png');
            background-repeat: no-repeat;
            background-position: 0px 0px;
            width: 80px;
            height: 160px;
}
.tulip-growing-3 {
            background-image: url('https://our-farm-game.s3.us-west-1.amazonaws.com/Objects/fplants.png');
            background-repeat: no-repeat;
            background-position: 0px 0px;
            width: 80px;
            height: 160px;
}
        
.tulip-growing-4 {
            background-image: url('https://our-farm-game.s3.us-west-1.amazonaws.com/Objects/fplants.png');
            background-repeat: no-repeat;
            background-position: 0px 0px;
            width: 80px;
            height: 160px;
}
.cabbage-growing-1 {
            background-image: url('https://our-farm-game.s3.us-west-1.amazonaws.com/Objects/fplants.png');
            background-repeat: no-repeat;
            background-position: 0px 0px;
            width: 80px;
            height: 160px;
}
        
.cabbage-growing-2 {
            background-image: url('https://our-farm-game.s3.us-west-1.amazonaws.com/Objects/fplants.png');
            background-repeat: no-repeat;
            background-position: 0px 0px;
            width: 80px;
            height: 160px;
}
.cabbage-growing-3 {
            background-image: url('https://our-farm-game.s3.us-west-1.amazonaws.com/Objects/fplants.png');
            background-repeat: no-repeat;
            background-position: 0px 0px;
            width: 80px;
            height: 160px;
}
        
.cabbage-growing-4 {
            background-image: url('https://our-farm-game.s3.us-west-1.amazonaws.com/Objects/fplants.png');
            background-repeat: no-repeat;
            background-position: 0px 0px;
            width: 80px;
            height: 160px;
}
.wheat-growing-1 {
            background-image: url('https://our-farm-game.s3.us-west-1.amazonaws.com/Objects/fplants.png');
            background-repeat: no-repeat;
            background-position: 0px 0px;
            width: 80px;
            height: 160px;
}
        
.wheat-growing-2 {
            background-image: url('https://our-farm-game.s3.us-west-1.amazonaws.com/Objects/fplants.png');
            background-repeat: no-repeat;
            background-position: 0px 0px;
            width: 80px;
            height: 160px;
}
.wheat-growing-3 {
            background-image: url('https://our-farm-game.s3.us-west-1.amazonaws.com/Objects/fplants.png');
            background-repeat: no-repeat;
            background-position: 0px 0px;
            width: 80px;
            height: 160px;
}
        
.wheat-growing-4 {
            background-image: url('https://our-farm-game.s3.us-west-1.amazonaws.com/Objects/fplants.png');
            background-repeat: no-repeat;
            background-position: 0px 0px;
            width: 80px;
            height: 160px;
}
.pumpkin-growing-1 {
            background-image: url('https://our-farm-game.s3.us-west-1.amazonaws.com/Objects/fplants.png');
            background-repeat: no-repeat;
            background-position: 0px 0px;
            width: 80px;
            height: 160px;
}
        
.pumpkin-growing-2 {
            background-image: url('https://our-farm-game.s3.us-west-1.amazonaws.com/Objects/fplants.png');
            background-repeat: no-repeat;
            background-position: 0px 0px;
            width: 80px;
            height: 160px;
}
.pumpkin-growing-3 {
            background-image: url('https://our-farm-game.s3.us-west-1.amazonaws.com/Objects/fplants.png');
            background-repeat: no-repeat;
            background-position: 0px 0px;
            width: 80px;
            height: 160px;
}
        
.pumpkin-growing-4 {
            background-image: url('https://our-farm-game.s3.us-west-1.amazonaws.com/Objects/fplants.png');
            background-repeat: no-repeat;
            background-position: 0px 0px;
            width: 80px;
            height: 160px;
}
.radish-growing-1 {
            background-image: url('https://our-farm-game.s3.us-west-1.amazonaws.com/Objects/fplants.png');
            background-repeat: no-repeat;
            background-position: 0px 0px;
            width: 80px;
            height: 160px;
}
        
.radish-growing-2 {
            background-image: url('https://our-farm-game.s3.us-west-1.amazonaws.com/Objects/fplants.png');
            background-repeat: no-repeat;
            background-position: 0px 0px;
            width: 80px;
            height: 160px;
}
.radish-growing-3 {
            background-image: url('https://our-farm-game.s3.us-west-1.amazonaws.com/Objects/fplants.png');
            background-repeat: no-repeat;
            background-position: 0px 0px;
            width: 80px;
            height: 160px;
}
        
.radish-growing-4 {
            background-image: url('https://our-farm-game.s3.us-west-1.amazonaws.com/Objects/fplants.png');
            background-repeat: no-repeat;
            background-position: 0px 0px;
            width: 80px;
            height: 160px;
}

.lotus-growing-1 {
            background-image: url('https://our-farm-game.s3.us-west-1.amazonaws.com/Objects/fplants.png');
            background-repeat: no-repeat;
            background-position: 0px 0px;
            width: 80px;
            height: 160px;
}
        
.lotus-growing-2 {
            background-image: url('https://our-farm-game.s3.us-west-1.amazonaws.com/Objects/fplants.png');
            background-repeat: no-repeat;
            background-position: 0px 0px;
            width: 80px;
            height: 160px;
}
.lotus-growing-3 {
            background-image: url('https://our-farm-game.s3.us-west-1.amazonaws.com/Objects/fplants.png');
            background-repeat: no-repeat;
            background-position: 0px 0px;
            width: 80px;
            height: 160px;
}
        
.lotus-growing-4 {
            background-image: url('https://our-farm-game.s3.us-west-1.amazonaws.com/Objects/fplants.png');
            background-repeat: no-repeat;
            background-position: 0px 0px;
            width: 80px;
            height: 160px;
}
.beet-growing-1 {
            background-image: url('https://our-farm-game.s3.us-west-1.amazonaws.com/Objects/fplants.png');
            background-repeat: no-repeat;
            background-position: 0px 0px;
            width: 80px;
            height: 160px;
}
        
.beet-growing-2 {
            background-image: url('https://our-farm-game.s3.us-west-1.amazonaws.com/Objects/fplants.png');
            background-repeat: no-repeat;
            background-position: 0px 0px;
            width: 80px;
            height: 160px;
}
.beet-growing-3 {
            background-image: url('https://our-farm-game.s3.us-west-1.amazonaws.com/Objects/fplants.png');
            background-repeat: no-repeat;
            background-position: 0px 0px;
            width: 80px;
            height: 160px;
}
        
.beet-growing-4 {
            background-image: url('https://our-farm-game.s3.us-west-1.amazonaws.com/Objects/fplants.png');
            background-repeat: no-repeat;
            background-position: 0px 0px;
            width: 80px;
            height: 160px;
}

.star-fruit-growing-1 {
            background-image: url('https://our-farm-game.s3.us-west-1.amazonaws.com/Objects/fplants.png');
            background-repeat: no-repeat;
            background-position: 0px 0px;
            width: 80px;
            height: 160px;
}
        
.star-fruit-growing-2 {
            background-image: url('https://our-farm-game.s3.us-west-1.amazonaws.com/Objects/fplants.png');
            background-repeat: no-repeat;
            background-position: 0px 0px;
            width: 80px;
            height: 160px;
}
.star-fruit-growing-3 {
            background-image: url('https://our-farm-game.s3.us-west-1.amazonaws.com/Objects/fplants.png');
            background-repeat: no-repeat;
            background-position: 0px 0px;
            width: 80px;
            height: 160px;
}
        
.star-fruit-growing-4 {
            background-image: url('https://our-farm-game.s3.us-west-1.amazonaws.com/Objects/fplants.png');
            background-repeat: no-repeat;
            background-position: 0px 0px;
            width: 80px;
            height: 160px;
}
.cucumber-growing-1 {
            background-image: url('https://our-farm-game.s3.us-west-1.amazonaws.com/Objects/fplants.png');
            background-repeat: no-repeat;
            background-position: 0px 0px;
            width: 80px;
            height: 160px;
}
        
.cucumber-growing-2 {
            background-image: url('https://our-farm-game.s3.us-west-1.amazonaws.com/Objects/fplants.png');
            background-repeat: no-repeat;
            background-position: 0px 0px;
            width: 80px;
            height: 160px;
}
.cucumber-growing-3 {
            background-image: url('https://our-farm-game.s3.us-west-1.amazonaws.com/Objects/fplants.png');
            background-repeat: no-repeat;
            background-position: 0px 0px;
            width: 80px;
            height: 160px;
}
        
.cucumber-growing-4 {
            background-image: url('https://our-farm-game.s3.us-west-1.amazonaws.com/Objects/fplants.png');
            background-repeat: no-repeat;
            background-position: 0px 0px;
            width: 80px;
            height: 160px;
}
