h5 {
    font-size: 2rem;
    text-align: center;
    margin: 2rem 1rem;
}

.grid {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;

}

.plant-card {
    width: 45%;
    background-color: #ddd8c4;
    margin-bottom: 1.5rem;
    border: 2px solid black;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    border-radius: 1rem;
}

h4 {
    font-size: 1.5rem;
    text-align: center;
    background-color: #69a297;
    padding: 1rem;
    margin-top: 1rem;
    border-top: 2px solid black;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    margin-bottom: 0;
}

.garden {
    border: 2px solid #abc9a8;
    padding: 1rem;
    border-radius: 1rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    height: calc(60vh / 6);
}

.plant {
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    min-height: 80px;
    position: relative;
    margin-top: 1rem;

}

.garden .plant {
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    min-height: 80px;
    position: relative;
    margin-top: 1rem;
    background-size: 100% auto;

}

.corn-0 {
    background-image: url('https://our-farm-game.s3.us-west-1.amazonaws.com/cropped/corn-0.png');
    height: 160px;
}

.corn-1 {
    background-image: url('https://our-farm-game.s3.us-west-1.amazonaws.com/cropped/corn-1.png');
    height: 160px;
}

.corn-2 {
    background-image: url('https://our-farm-game.s3.us-west-1.amazonaws.com/cropped/corn-2.png');
    height: 160px;
}

.corn-3 {
    background-image: url('https://our-farm-game.s3.us-west-1.amazonaws.com/cropped/corn-3.png');
    height: 160px;
}

.carrot-0 {
    background-image: url('https://our-farm-game.s3.us-west-1.amazonaws.com/cropped/carrot-0.png');
}

.carrot-1 {
    background-image: url('https://our-farm-game.s3.us-west-1.amazonaws.com/cropped/carrot-1.png');
}

.carrot-2 {
    background-image: url('https://our-farm-game.s3.us-west-1.amazonaws.com/cropped/carrot-2.png');
}

.carrot-3 {
    background-image: url('https://our-farm-game.s3.us-west-1.amazonaws.com/cropped/carrot-3.png');
}

.cauliflower-0 {
    background-image: url('https://our-farm-game.s3.us-west-1.amazonaws.com/cropped/cauliflower-0.png');
}

.cauliflower-1 {
    background-image: url('https://our-farm-game.s3.us-west-1.amazonaws.com/cropped/cauliflower-1.png');
}

.cauliflower-2 {
    background-image: url('https://our-farm-game.s3.us-west-1.amazonaws.com/cropped/cauliflower-2.png');

}

.cauliflower-3 {
    background-image: url('https://our-farm-game.s3.us-west-1.amazonaws.com/cropped/cauliflower-3.png');
}

.plum-0 {
    background-image: url('https://our-farm-game.s3.us-west-1.amazonaws.com/cropped/plum-0.png');
}

.plum-1 {
    background-image: url('https://our-farm-game.s3.us-west-1.amazonaws.com/cropped/plum-1.png');
}

.plum-2 {
    background-image: url('https://our-farm-game.s3.us-west-1.amazonaws.com/cropped/plum-2.png');
}

.plum-3 {
    background-image: url('https://our-farm-game.s3.us-west-1.amazonaws.com/cropped/plum-3.png');
}

.eggplant-0 {
    background-image: url('https://our-farm-game.s3.us-west-1.amazonaws.com/cropped/eggplant-0.png');
}

.eggplant-1 {
    background-image: url('https://our-farm-game.s3.us-west-1.amazonaws.com/cropped/eggplant-1.png');
}

.eggplant-2 {
    background-image: url('https://our-farm-game.s3.us-west-1.amazonaws.com/cropped/eggplant-2.png');
}

.eggplant-3 {
    background-image: url('https://our-farm-game.s3.us-west-1.amazonaws.com/cropped/eggplant-3.png');
}

.tulip-0 {
    background-image: url('https://our-farm-game.s3.us-west-1.amazonaws.com/cropped/tulip-0.png');
}

.tulip-1 {
    background-image: url('https://our-farm-game.s3.us-west-1.amazonaws.com/cropped/tulip-1.png');
}

.tulip-2 {
    background-image: url('https://our-farm-game.s3.us-west-1.amazonaws.com/cropped/tulip-2.png');
}

.tulip-3 {
    background-image: url('https://our-farm-game.s3.us-west-1.amazonaws.com/cropped/tulip-3.png');
}

.cabbage-0 {
    background-image: url('https://our-farm-game.s3.us-west-1.amazonaws.com/cropped/cabbage-0.png');
}

.cabbage-1 {
    background-image: url('https://our-farm-game.s3.us-west-1.amazonaws.com/cropped/cabbage-1.png');
}

.cabbage-2 {
    background-image: url('https://our-farm-game.s3.us-west-1.amazonaws.com/cropped/cabbage-2.png');
}

.cabbage-3 {
    background-image: url('https://our-farm-game.s3.us-west-1.amazonaws.com/cropped/cabbage-3.png');
}

.wheat-0 {
    background-image: url('https://our-farm-game.s3.us-west-1.amazonaws.com/cropped/wheat-0.png');
}

.wheat-1 {
    background-image: url('https://our-farm-game.s3.us-west-1.amazonaws.com/cropped/wheat-1.png');
}

.wheat-2 {
    background-image: url('https://our-farm-game.s3.us-west-1.amazonaws.com/cropped/wheat-2.png');
}

.wheat-3 {
    background-image: url('https://our-farm-game.s3.us-west-1.amazonaws.com/cropped/wheat-3.png');
}

.pumpkin-0 {
    background-image: url('https://our-farm-game.s3.us-west-1.amazonaws.com/cropped/pumpkin-0.png');
}

.pumpkin-1 {
    background-image: url('https://our-farm-game.s3.us-west-1.amazonaws.com/cropped/pumpkin-1.png');
}

.pumpkin-2 {
    background-image: url('https://our-farm-game.s3.us-west-1.amazonaws.com/cropped/pumpkin-2.png');
}

.pumpkin-3 {
    background-image: url('https://our-farm-game.s3.us-west-1.amazonaws.com/cropped/pumpkin-3.png');
}

.radish-0 {
    background-image: url('https://our-farm-game.s3.us-west-1.amazonaws.com/cropped/radish-0.png');
}

.radish-1 {
    background-image: url('https://our-farm-game.s3.us-west-1.amazonaws.com/cropped/radish-1.png');
}

.radish-2 {
    background-image: url('https://our-farm-game.s3.us-west-1.amazonaws.com/cropped/radish-2.png');
}

.radish-3 {
    background-image: url('https://our-farm-game.s3.us-west-1.amazonaws.com/cropped/radish-3.png');
}

.lotus-0 {
    background-image: url('https://our-farm-game.s3.us-west-1.amazonaws.com/cropped/lotus-0.png');
}

.lotus-1 {
    background-image: url('https://our-farm-game.s3.us-west-1.amazonaws.com/cropped/lotus-1.png');
}

.lotus-2 {
    background-image: url('https://our-farm-game.s3.us-west-1.amazonaws.com/cropped/lotus-2.png');
}

.lotus-3 {
    background-image: url('https://our-farm-game.s3.us-west-1.amazonaws.com/cropped/lotus-3.png');
}

.beet-0 {
    background-image: url('https://our-farm-game.s3.us-west-1.amazonaws.com/cropped/beet-0.png');
}

.beet-1 {
    background-image: url('https://our-farm-game.s3.us-west-1.amazonaws.com/cropped/beet-1.png');
}

.beet-2 {
    background-image: url('https://our-farm-game.s3.us-west-1.amazonaws.com/cropped/beet-2.png');
}

.beet-3 {
    background-image: url('https://our-farm-game.s3.us-west-1.amazonaws.com/cropped/beet-3.png');
}

.star-0,
.fruit-0 {
    background-image: url('https://our-farm-game.s3.us-west-1.amazonaws.com/cropped/star-0.png');
}

.star-1,
.fruit-1 {
    background-image: url('https://our-farm-game.s3.us-west-1.amazonaws.com/cropped/star-1.png');
}

.star-2,
.fruit-2 {
    background-image: url('https://our-farm-game.s3.us-west-1.amazonaws.com/cropped/star-2.png');
}

.star-3,
.fruit-3 {
    background-image: url('https://our-farm-game.s3.us-west-1.amazonaws.com/cropped/star-3.png');
}

.cucumber-0 {
    background-image: url('https://our-farm-game.s3.us-west-1.amazonaws.com/cropped/cucumber-0.png');
}

.cucumber-1 {
    background-image: url('https://our-farm-game.s3.us-west-1.amazonaws.com/cropped/cucumber-1.png');
}

.cucumber-2 {
    background-image: url('https://our-farm-game.s3.us-west-1.amazonaws.com/cropped/cucumber-2.png');
}

.cucumber-3 {
    background-image: url('https://our-farm-game.s3.us-west-1.amazonaws.com/cropped/cucumber-3.png');
}