h5 {
    font-size: 4rem;
    text-align: center;
    margin: 2rem 1rem;
}

.grid {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;

}

.plant-card {
    width: 45%;
    background-color: #ddd8c4;
    margin-bottom: 1.5rem;
    border: 2px solid black;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    border-radius: 1rem;
}

h4 {
    font-size: 2.5rem;
    text-align: center;
    background-color: #69a297;
    padding: 1rem;
    margin-top: 1rem;
    border-top: 2px solid black;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    margin-bottom: 0;
}

.plant {
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    min-width: 80px;
    min-height: 80px;
    position: relative;
    margin-top: 1rem;
}

.corn-0 {
    background-image: url('/cropped-crops/corn-0.png');
    height: 160px;
}

.corn-1 {
    background-image: url('/cropped-crops/corn-1.png');
    height: 160px;
}

.corn-2 {
    background-image: url('/cropped-crops/corn-2.png');
    height: 160px;
}

.corn-3 {
    background-image: url('/cropped-crops/corn-3.png');
    height: 160px;
}

.carrot-0 {
    background-image: url('/cropped-crops/carrot-0.png');
}

.carrot-1 {
    background-image: url('/cropped-crops/carrot-1.png');
}

.carrot-2 {
    background-image: url('/cropped-crops/carrot-2.png');
}

.carrot-3 {
    background-image: url('/cropped-crops/carrot-3.png');
}

.cauliflower-0 {
    background-image: url('/cropped-crops/cauliflower-0.png');
}

.cauliflower-1 {
    background-image: url('/cropped-crops/cauliflower-1.png');
}

.cauliflower-2 {
    background-image: url('/cropped-crops/cauliflower-2.png');

}

.cauliflower-3 {
    background-image: url('/cropped-crops/cauliflower-3.png');
}

.plum-0 {
    background-image: url('/cropped-crops/plum-0.png');
}

.plum-1 {
    background-image: url('/cropped-crops/plum-1.png');
}

.plum-2 {
    background-image: url('/cropped-crops/plum-2.png');
}

.plum-3 {
    background-image: url('/cropped-crops/plum-3.png');
}

.eggplant-0 {
    background-image: url('/cropped-crops/eggplant-0.png');
}

.eggplant-1 {
    background-image: url('/cropped-crops/eggplant-1.png');
}

.eggplant-2 {
    background-image: url('/cropped-crops/eggplant-2.png');
}

.eggplant-3 {
    background-image: url('/cropped-crops/eggplant-3.png');
}

.tulip-0 {
    background-image: url('/cropped-crops/tulip-0.png');
}

.tulip-1 {
    background-image: url('/cropped-crops/tulip-1.png');
}

.tulip-2 {
    background-image: url('/cropped-crops/tulip-2.png');
}

.tulip-3 {
    background-image: url('/cropped-crops/tulip-3.png');
}

.cabbage-0 {
    background-image: url('/cropped-crops/cabbage-0.png');
}

.cabbage-1 {
    background-image: url('/cropped-crops/cabbage-1.png');
}

.cabbage-2 {
    background-image: url('/cropped-crops/cabbage-2.png');
}

.cabbage-3 {
    background-image: url('/cropped-crops/cabbage-3.png');
}

.wheat-0 {
    background-image: url('/cropped-crops/wheat-0.png');
}

.wheat-1 {
    background-image: url('/cropped-crops/wheat-1.png');
}

.wheat-2 {
    background-image: url('/cropped-crops/wheat-2.png');
}

.wheat-3 {
    background-image: url('/cropped-crops/wheat-3.png');
}

.pumpkin-0 {
    background-image: url('/cropped-crops/pumpkin-0.png');
}

.pumpkin-1 {
    background-image: url('/cropped-crops/pumpkin-1.png');
}

.pumpkin-2 {
    background-image: url('/cropped-crops/pumpkin-2.png');
}

.pumpkin-3 {
    background-image: url('/cropped-crops/pumpkin-3.png');
}

.radish-0 {
    background-image: url('/cropped-crops/radish-0.png');
}

.radish-1 {
    background-image: url('/cropped-crops/radish-1.png');
}

.radish-2 {
    background-image: url('/cropped-crops/radish-2.png');
}

.radish-3 {
    background-image: url('/cropped-crops/radish-3.png');
}

.lotus-0 {
    background-image: url('/cropped-crops/lotus-0.png');
}

.lotus-1 {
    background-image: url('/cropped-crops/lotus-1.png');
}

.lotus-2 {
    background-image: url('/cropped-crops/lotus-2.png');
}

.lotus-3 {
    background-image: url('/cropped-crops/lotus-3.png');
}

.beet-0 {
    background-image: url('/cropped-crops/beet-0.png');
}

.beet-1 {
    background-image: url('/cropped-crops/beet-1.png');
}

.beet-2 {
    background-image: url('/cropped-crops/beet-2.png');
}

.beet-3 {
    background-image: url('/cropped-crops/beet-3.png');
}

.fruit-0 {
    background-image: url('/cropped-crops/star-0.png');
}

.fruit-1 {
    background-image: url('/cropped-crops/star-1.png');
}

.fruit-2 {
    background-image: url('/cropped-crops/star-2.png');
}

.fruit-3 {
    background-image: url('/cropped-crops/star-3.png');
}

.cucumber-0 {
    background-image: url('/cropped-crops/cucumber-0.png');
}

.cucumber-1 {
    background-image: url('/cropped-crops/cucumber-1.png');
}

.cucumber-2 {
    background-image: url('/cropped-crops/cucumber-2.png');
}

.cucumber-3 {
    background-image: url('/cropped-crops/cucumber-3.png');
}