.splash {
  height: 50%;
  padding: 1.75em;
  text-align: center;
  line-height: 1.125;
  background-color: #69a297;
}

h1 {
  margin-bottom: 0;
  font-size: clamp(3rem, 0.7500rem + 10.0000vw, 6rem);
  color: #ddd8c4;
}

span {
  display: block;
  color: #000;
}

p {
  width: 80%;
  margin-inline: auto;
  font-size: clamp(1.25rem, 0.8750rem + 1.6667vw, 1.75rem);
  color: #ddd8c4;
  line-height: 1.5;
}

.splash-img {
  margin-bottom: -10em;
  border-radius: 50%;
}